{% load i18n %}


<div class="entry">
	<span class="order-number"></span>
	<div class="entry-details">
		<img src='{{ media_url }}' class='admin_list_image thumb-img' /> <br>
		<span class='file_name'>{{ filename }}</span>
		<div class="actions">
			<a class='image_edit_link' href='{{ edit_url }}' target="_blank"><img src="{{ STATIC_URL }}/static/sortedm2m/images/edit_grey.png" alt="{%trans "Edit" %}" title="{%trans "Edit" %}"/></a>
			<a class='image_remove_link'><img src="{{ STATIC_URL }}/static/sortedm2m/images/remove_grey.png" alt="{%trans "Remove" %}" title="{%trans "Remove" %}"/></a>
		</div>
	</div>
</div>
