{% load i18n %}

<li class="entry add-to-selection" data-order-markup="{{ order_markup|safe }}" data-file-id="{{ file_id }}">
    <img class="thumb-img" src="{{ media_url }}"> <br/>
    <span class="file_name">{{ file_name }}</span>
{#	<a class="add-to-selection" href="#">{% trans "Add to Selection" %}</a>#}
{#	<img src="{{ STATIC_URL }}/static/sortedm2m/images/arrow-black.png" class="arrow" alt=""/>#}
</li>
