<li>
    <label for="{{ field_name }}_{{ file_id }}">
        <input class="sortedm2m" id="id_{{ field_name }}_{{ file_id }}" type="checkbox" value="{{ file_id }}" name="{{ field_name }}" checked="checked">
        {{ content|safe }}
    </label>
</li>
