div, span, li {
	font-size: 13px;
}

#main-container {
	display: block;
}

/*TODO: ensure browser support for flexbox*/

#flexbox-containers {
	display: flex;
	margin-top: 10px;
	max-width: 1500px;
}

.container-title.folder {
	flex: 1;
}

@media (max-width: 1199px) {
	.container-title.folder {
		flex: 2;
	}
}

.container-title.select {
	flex: 2;
}

.container-title.drag-to-order {
	flex: 2;
}

#folder-container {
	overflow: hidden;
}

#select-container {
	margin-top: 15px;
}

#order-container {
	margin-top: 15px;
}

#order-container form label {
	line-height: 0;
}

#order-container li {
	padding: 0;
}

#folder-container ul {
	margin-left: 0;
	padding-left: 12px;
}

.container-title {
	position: relative;
	width: 33.3333333%;
	padding: 0 80px 0 0;
}

@media (max-width: 1199px){
	.container-title {
		padding: 0 20px 0 0;
	}
}

.container-title h2 {
	padding: 10px 10px 10px 0;
}

.field-images .select .selector-filter {
	padding: 0;
	margin-bottom: 0;
	margin-top: 0;
	display: none;
}

.field-images .selector-filter input {
	opacity: 0;
	width: 70%;
	float: right;
	position: relative;
	top: -25px;
}

#filter {
	float: right;
	display: block;
}

#filter:after {
	clear: both;
}

#filter, #select-all, #remove-all, .image_remove_link {
	cursor: pointer;
}

.field-images .hint {
	display: inline;
	position: absolute;
	top: -38px;
	width: 78%;
	left: 0;
	text-align: center;
	font-size: 15px;
	padding: 10px;
	color: rgba(115, 110, 110, 1);
	background-color: rgba(223, 248, 255, 0.8);
	border: 1px solid rgb(226, 226, 226);
	border-radius: 2px;
	-webkit-box-shadow: 1px 1px 3px 0 rgba(201,201,201,0.3);
	-moz-box-shadow: 1px 1px 3px 0 rgba(201,201,201,0.3);
	box-shadow: 1px 1px 3px 0 rgba(201,201,201,0.3);
}

@media (max-width: 1199px) {
	.hint {
		right: 28px;
	}
}

.duplicated {
	display: none;
}

.drag {
	opacity: 0;
	transition: opacity .4s ease-in-out;
}

.drag-to-order:hover span.drag {
	opacity: 1;
}

.entry {
	position: relative;
	margin-bottom: 10px;
	color: rgba(115, 110, 110, 1);
	border: 1px solid lightgrey;
	border-radius: 4px;
	background: rgb(240, 245, 247);
	padding: 10px;
	line-height: 1em;
}

.entry .image_remove_link {
	margin-right: 10px;
	margin-left: 3px;
}

li.entry {
	list-style: none;
	position: relative;
	background-color: rgb(240, 245, 247);
	background-image: url('/static/sortedm2m/images/transparent_20x20.png');
	background-repeat: no-repeat;
	background-position: center right;
}

li.entry:hover {
	background-color: rgba(223, 248, 255, 0.8);
	background-image: url('/static/sortedm2m/images/forward.png');
	background-repeat: no-repeat;
	background-position: center right;
}

li.entry.add-to-selection {
	-webkit-transition: background-color 0.3s ease, background-image 0.3 ease;
	-moz-transition: background-color 0.3s ease, background-image 0.3 ease;
	-o-transition: background-color 0.3s ease, background-image 0.3 ease;
	transition: background-color 0.3s ease, background-image 0.3 ease;
}

li.entry.disabled {
	-webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
	opacity: 0.2;
	background-color: transparent;
}

li.entry.disabled:hover {
	background-image: none;
	/*background-color: transparent;*/
}

span.order-number {
	position: absolute;
	color: rgba(139, 134, 134, 0.34);
	font-size: 50px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.entry-details {
	padding-left: 70px;
	display: inline-block;
}

#select-container .entry:hover {
	cursor: pointer;
}

#select-container ul {
    margin-left: 0;
    padding-left: 0;
	padding-right: 0;
}

.entry:hover {
}

.add-to-selection {
	margin-top: 5px;
}

span.file_name {
	display: block;
}

.thumb-img {
	margin-bottom: 10px;
	-webkit-box-shadow: 1px 1px 10px 0px rgba(199,199,199,1);
	-moz-box-shadow: 1px 1px 10px 0px rgba(199,199,199,1);
	box-shadow: 1px 1px 10px 0px rgba(199,199,199,1);
}

.actions {
	display: none;
	position: absolute;
	top: 5px;
	right: -6px;
}

.entry:hover .actions {
	display: block;
}

form .image_edit_link, .image_remove_link {
	line-height: normal;
}

img.arrow {
	width: 20px;
}

img.arrow:hover {
	cursor: pointer;
}
.arrow {
	position: absolute;
	top: 15px;
	right: 5px;
}

label input.sortedm2m {
	display: none;
}

.aligned label {
	padding: 0;
}


/*WIDGET CSS STYLES*/
.sortedm2m-container {
    margin-right: 10px;
}

.sortedm2m-container p.selector-filter {
    padding: 0;
    margin: 0;
}

.sortedm2m-container p.selector-filter input {
	width: 100%;
    margin: 5px 4px;
}

ul.sortedm2m {
    display: block;
    min-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 6px 8px;
    list-style-type: none;
    text-align: left;
}

ul.sortedm2m li {
    list-style-type: none;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul.sortedm2m li, ul.sortedm2m label {
    cursor: move;
}

/* required to work properly in django admin */
body.change-form .sortedm2m-container {
    float: left;
	width: 100%;
}

.module ul.sortedm2m {
    margin: 0;
    padding: 0;
}

.sortedm2m_list_container .folder_path {
    padding-left: 20px;
    margin-bottom: 10px;
}

.sortedm2m_list_container .image_edit_link {
    position: relative;
}


/*FILETREE STYLES*/
UL.jqueryFileTree {
	font-size: 11px;
	line-height: 18px;
	padding: 0;
	margin: 0;
}

UL.jqueryFileTree LI {
	list-style: none;
	padding: 0;
	padding-left: 5px;
	margin: 0;
	white-space: nowrap;
}

UL.jqueryFileTree A {
	color: rgba(115, 110, 110, 1);
	min-height: 18px;
	text-decoration: none;
	display: block;
	padding: 8px 18px 0 28px;
	transition: background-image 0.5s ease;
	background-image: url("images/transparent_20x20.png");
	background-position: center right;
	background-repeat: no-repeat;
}

UL.jqueryFileTree A:hover {
	background-image: url("images/forward.png");
	background-position: center right;
	background-repeat: no-repeat;
}

.directory a {
	display: table-cell;
	vertical-align: middle;
}

.directory {
	position: relative;
}

.root {
	margin-top: 15px;
	color: rgba(115, 110, 110, 1);
	min-height: 18px;
	text-decoration: none;
	display: block;
	padding: 3px 0 0 37px;
}

.root a {
	color: rgba(115, 110, 110, 1);
}

/* Core Styles */
.root { background: url(images/folder_open_frame_smaller.png) left top no-repeat; }
.jqueryFileTree LI.directory { background: url(images/folder_closed_frame_smaller.png) left top no-repeat; }
.jqueryFileTree LI.expanded { background: url(images/folder_open_frame_smaller.png) left top no-repeat; }
.jqueryFileTree LI.file { background: url(images/file.png) left top no-repeat; }
.jqueryFileTree LI.wait { background: url(images/spinner.gif) left top no-repeat; }
/* File Extensions*/
.jqueryFileTree LI.ext_3gp { background: url(images/film.png) left top no-repeat; }
.jqueryFileTree LI.ext_afp { background: url(images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_afpa { background: url(images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_asp { background: url(images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_aspx { background: url(images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_avi { background: url(images/film.png) left top no-repeat; }
.jqueryFileTree LI.ext_bat { background: url(images/application.png) left top no-repeat; }
.jqueryFileTree LI.ext_bmp { background: url(images/picture.png) left top no-repeat; }
.jqueryFileTree LI.ext_c { background: url(images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_cfm { background: url(images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_cgi { background: url(images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_com { background: url(images/application.png) left top no-repeat; }
.jqueryFileTree LI.ext_cpp { background: url(images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_css { background: url(images/css.png) left top no-repeat; }
.jqueryFileTree LI.ext_doc { background: url(images/doc.png) left top no-repeat; }
.jqueryFileTree LI.ext_exe { background: url(images/application.png) left top no-repeat; }
.jqueryFileTree LI.ext_gif { background: url(images/picture.png) left top no-repeat; }
.jqueryFileTree LI.ext_fla { background: url(images/flash.png) left top no-repeat; }
.jqueryFileTree LI.ext_h { background: url(images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_htm { background: url(images/html.png) left top no-repeat; }
.jqueryFileTree LI.ext_html { background: url(images/html.png) left top no-repeat; }
.jqueryFileTree LI.ext_jar { background: url(images/java.png) left top no-repeat; }
.jqueryFileTree LI.ext_jpg { background: url(images/picture.png) left top no-repeat; }
.jqueryFileTree LI.ext_jpeg { background: url(images/picture.png) left top no-repeat; }
.jqueryFileTree LI.ext_js { background: url(images/script.png) left top no-repeat; }
.jqueryFileTree LI.ext_lasso { background: url(images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_log { background: url(images/txt.png) left top no-repeat; }
.jqueryFileTree LI.ext_m4p { background: url(images/music.png) left top no-repeat; }
.jqueryFileTree LI.ext_mov { background: url(images/film.png) left top no-repeat; }
.jqueryFileTree LI.ext_mp3 { background: url(images/music.png) left top no-repeat; }
.jqueryFileTree LI.ext_mp4 { background: url(images/film.png) left top no-repeat; }
.jqueryFileTree LI.ext_mpg { background: url(images/film.png) left top no-repeat; }
.jqueryFileTree LI.ext_mpeg { background: url(images/film.png) left top no-repeat; }
.jqueryFileTree LI.ext_ogg { background: url(images/music.png) left top no-repeat; }
.jqueryFileTree LI.ext_pcx { background: url(images/picture.png) left top no-repeat; }
.jqueryFileTree LI.ext_pdf { background: url(images/pdf.png) left top no-repeat; }
.jqueryFileTree LI.ext_php { background: url(images/php.png) left top no-repeat; }
.jqueryFileTree LI.ext_png { background: url(images/picture.png) left top no-repeat; }
.jqueryFileTree LI.ext_ppt { background: url(images/ppt.png) left top no-repeat; }
.jqueryFileTree LI.ext_psd { background: url(images/psd.png) left top no-repeat; }
.jqueryFileTree LI.ext_pl { background: url(images/script.png) left top no-repeat; }
.jqueryFileTree LI.ext_py { background: url(images/script.png) left top no-repeat; }
.jqueryFileTree LI.ext_rb { background: url(images/ruby.png) left top no-repeat; }
.jqueryFileTree LI.ext_rbx { background: url(images/ruby.png) left top no-repeat; }
.jqueryFileTree LI.ext_rhtml { background: url(images/ruby.png) left top no-repeat; }
.jqueryFileTree LI.ext_rpm { background: url(images/linux.png) left top no-repeat; }
.jqueryFileTree LI.ext_ruby { background: url(images/ruby.png) left top no-repeat; }
.jqueryFileTree LI.ext_sql { background: url(images/db.png) left top no-repeat; }
.jqueryFileTree LI.ext_swf { background: url(images/flash.png) left top no-repeat; }
.jqueryFileTree LI.ext_tif { background: url(images/picture.png) left top no-repeat; }
.jqueryFileTree LI.ext_tiff { background: url(images/picture.png) left top no-repeat; }
.jqueryFileTree LI.ext_txt { background: url(images/txt.png) left top no-repeat; }
.jqueryFileTree LI.ext_vb { background: url(images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_wav { background: url(images/music.png) left top no-repeat; }
.jqueryFileTree LI.ext_wmv { background: url(images/film.png) left top no-repeat; }
.jqueryFileTree LI.ext_xls { background: url(images/xls.png) left top no-repeat; }
.jqueryFileTree LI.ext_xml { background: url(images/code.png) left top no-repeat; }
.jqueryFileTree LI.ext_zip { background: url(images/zip.png) left top no-repeat; }
