{% load i18n %}
{% load static %}
{% load i18n %}


<br/>
<div id="main-container">
	<div id="flexbox-containers">
		<div class="container-title folder">
			<h2>
                {% trans "1. Browse your images" %}
            </h2>
			<a href="{% url 'admin:filer_folder_changelist' %}" id="add_id_folder">
				{% trans "Or add new images" %}
                </a>
			<div class="root" data-url="{% url 'js-folder-tree-connect' %}"><a id="all_images" >{% trans "All Images" %}</a></div>
            <div id="folder-container" class="column"></div>
		</div>

		<div class="container-title select">
			<h2>{% trans "2. Choose your images" %}</h2>
			<a id="select-all">{% trans "Add all" %}</a>
			<a id="filter">{% trans "Filter" %}</a>
	        <p class="selector-filter">
                <input type="text" placeholder="{% trans "Filter" %}" />
	        </p>

            <div id="select-container" class="column">
	            <ul></ul>
            </div>
		</div>

		<div class="container-title drag-to-order">
			<h2>{% trans "3. Order your images" %}</h2>
			<a id="remove-all">{% trans "Remove all" %}</a>
			<span class="drag hint">{%trans "Drag & drop the pictures to order them." %}</span>
			<span class="duplicated hint">{%trans "Image is already in selection." %}</span>
			<div id="order-container" class="column">
			    <div class="sortedm2m-container">
			        <ul class="sortedm2m_list_container ui-sortable sortedm2m">
                        {% for row in selected %}
                            {% include 'ni_imagegallery/includes/order-entry.html' %}
                        {% endfor %}
			        </ul>
			    </div>
			</div>
		</div>

	</div>
    <span style="display: none;" id="api_url" data-url="{% url 'js-folder-tree-connect' %}"></span>
</div>



<script>
    (function($) {
        $(document).ready(function() {
            $('#folder-container').fileTree(
                { root: '', script: '{% url 'js-folder-tree-connect' %}' },
                function (file) {
                    $('#select-container').append(file);
                });
        });
    })(django.jQuery); // django.jQuery is required.
</script>
